.tc-csv-table tbody {
    
}

.tc-csv-table tbody tr:nth-child(odd) {background: #CCC}

.tc-csv-table theader {
    
}

.tc-csv-controls {
    width: 100%;
    text-align: left;
}
.tc-csv-control {
    width: auto;
    float:left;
    text-align: left;
    padding: 0 0.2em 0 0;
}

.tc-csv-control-final {
    width: auto;
    clear: both;
}